Django==1.7.1
Markdown==2.5.2
Pillow==2.6.1
django-extensions==1.4.8
django-filter==0.9.1
django-mockups==0.4.8
djangorestframework==3.0.2
gnureadline==6.3.3
ipdb==0.8
ipython==2.4.0
pytz==2015.2
six==1.8.0
tablib==0.10.0
wsgiref==0.1.2
